

<div *ngIf="isMobileMenu()">
    <div class="homepage-mobile">
        <div class="footage">
            <img src="../../../assets/team_img5.jpg" alt="">
            <a class="slide__prev"  (click)="homepageSlide('sebelum')" title="Prev"></a>
            <a class="slide__next"  (click)="homepageSlide('berikut')" title="Next"></a> 
        </div>
    </div>

</div>
<div *ngIf="!isMobileMenu()">
    <div class="footage">
        <img  class="background-foto" src="../../../assets/sumur-bor.jpg" alt="">
        <a class="slide__prev"  (click)="homepageSlide('sebelum')" title="Prev"></a>
        <a class="slide__next"  (click)="homepageSlide('berikut')"title="Next"></a>
        <div class="homepage-content">
            <div  class="overlay-homepage" >
                <img src="../../../assets/logo.png" alt="">
                
            </div>
            <div  class="overlay-homepage" >
                <img src="../../../assets/sumur-bor.jpg" alt="">
            </div>
            <div href="#slides__3" class="overlay-homepage" >
                <img src="../../../assets/team_img5.jpg" alt="">
            </div>
            <div  class="overlay-homepage" >
                <img src="../../../assets/team_img7.jpg" alt="">
            </div>
        </div>
    </div>
</div>