.background-foto{
    // position: relative;
    object-fit: cover;
    width:100%;
    height: 500px;
    // height: 300px;
    // object-fit: none; /* Do not scale the image */
    object-position: center;
    z-index: 1;
}
.footage{
    width: 100%;
    background-image: url('../../../assets/sumur-bor.jpg');
    &::after{
      background-color: rgba(88, 11, 11, 0.95);
    }
    
    
}
.slide__prev,
.slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  .slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }
  
  .slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }

  .overlay-homepage{
    border-image: 1px;
    // background: url(../../../assets/sumur-bor.jpg);
    // position: absolute;
    // z-index: 2;
  }
.homepage-content, .homepage-content-mobile{
  display: flex;
  // overflow-x: scroll;
  // scroll-behavior: smooth;
  // scroll-snap-type: x mandatory;
}


.slide_prev-mobile,
.slide_next-mobile {
    position: absolute;
    top: 300px;
    width: 35px;
    height: 35px;
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  .slide_prev-mobile,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }
  
  .slide_next-mobile,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }

  .slide1,.slide2{
    position: absolute;
    width: 50px;
    top: 20%;
  }
  .container-slide1{
    position: relative;
    height: 450px;
  }
  
  .mat-expansion-panel{
    background-color: #E0BE5F;
  }
  .mat-expansion-panel{
   padding: 10px;
   box-shadow: inset 0 0 5px #000000;
  }

  .img-footage{
    width: 100%;

  }

  .topright {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }

  .fade-in-ngbcor {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .maps-footage{
    position:absolute; 
    top: 20%;
    right:15% ;
    iframe{
      width: 120%;
      height: 300px;
      border-radius: 10px;
    }
  }
 

  
  .btn11-footage {
    position: absolute;
   
    height: 100%;
    top:0%;
    left: 10%;
    opacity: 1;
    animation: transisi11 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn21-footage {
    position: absolute;
    height: 100%;
    width: 40%;
    bottom:0%;
    left: 23%;
    opacity: 1;
    animation: transisi21 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn12-footage {
    position: absolute;
    height: 100%;
    top:0%;
    right: 20%;
    opacity: 1;
    animation: transisi11 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn22-footage {
    position: absolute;
    height: 100%;
    width: 40%;
    bottom:0%;
    right: 15%;
    opacity: 1;
    animation: transisi21 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn13-footage {
    position: absolute;
    height: 100%;
    bottom:0%;
    right: 20%;
    opacity: 1;
    animation: transisi13 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn11-text{
    color :#ffffff;
    border: 2px solid #393834;
    border-radius: 10px;
    box-shadow: inset 400px 0 0 0 #393834;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn21-text{
    background-color: #c0c0c0;
    color :black;
    text-align: justify;
    text-justify: inter-word;
    border: 2px solid #393834;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn12-text{
    color :#ffffff;
    border: 2px solid #393834;
    border-radius: 10px;
    box-shadow: inset 400px 0 0 0 #393834;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn22-text{
    background-color: #c0c0c0;
    color :black;
    text-align: justify;
    text-justify: inter-word;
    border: 2px solid #393834;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn13-text{
    color :#ffffff;
    border: 2px solid #393834;
    border-radius: 10px;
    box-shadow: inset 400px 0 0 0 #393834;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn23-text{
    background-color: #c0c0c0;
    color :black;
    text-align: justify;
    text-justify: inter-word;
    border: 2px solid #393834;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  
  @keyframes transisi11 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 15% );
    }
  }
  @keyframes transisi21{
    0% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 35% );
    }
  }
  @keyframes transisi13 {
    0% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 75% );
    }
  }
  
