
  
  .mat-expansion-panel{
    background-color: #E0BE5F;
  }
  .mat-expansion-panel{
   padding: 10px;
   box-shadow: inset 0 0 5px #000000;
  }

  .img-footage{
    width: 100%;

  }

  .maps-footage{
    position:absolute; 
    top: 20%;
    right:15% ;
    iframe{
      width: 100%;
      height: 350px;
      border-radius: 10px;
    }
  }
  .maps-footage-mobile{
    position:absolute; 
    top: 5%;
    right:10% ;
    iframe{
      width: 50%;
      height: 150px;
      border-radius: 10px;
    }
  }
  .btn11-footage {
    position: absolute;
    height: 100%;
    top:0%;
    left: 10%;
    opacity: 1;
    animation: transisi11 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  .btn21-footage {
    position: absolute;
    height: 100%;
    width: 40%;
    bottom:0%;
    left: 10%;
    opacity: 1;
    animation: transisi21 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn21-footage-mobile {
    position: absolute;
    height: 100%;
    width: 55%;
    bottom:0%;
    left: 10%;
    opacity: 1;
    animation: transisi21-mobile 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn12-footage {
    position: absolute;
    height: 100%;
    top:0%;
    right: 20%;
    opacity: 1;
    animation: transisi11 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn22-footage {
    position: absolute;
    height: 100%;
    width: 40%;
    bottom:0%;
    right: 10%;
    opacity: 1;
    animation: transisi21 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn22-footage-mobile {
    position: absolute;
    height: 100%;
    width: 55%;
    bottom:0%;
    right: 7%;
    opacity: 1;
    animation: transisi21-mobile 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn13-footage {
    position: absolute;
    height: 100%;
    bottom:0%;
    right: 20%;
    opacity: 1;
    animation: transisi13 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .btn11-text{
    background-color:  #393834;
    color :#DCBC60;
    cursor: none;
    padding: 18px 36px;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn11-text-mobile{
    background-color:  #393834;
    color :#DCBC60;
    cursor: none;
    padding: 10px 10px;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 1px;
  }
 
  .btn11-text:hover{
    background-color: rgb(173, 173, 173);
    transform: scale(1.2);
  }
  .btn21-text{
    background-color:  #393834;
    color :#DCBC60;
    text-align: justify;
    text-justify: inter-word;
    // border: 2px solid #393834;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn21-text-mobile{
    background-color:  #393834;
    color :#DCBC60;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 10px;
    padding: 5px 5px;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn12-text{
    color :#ffffff;
    border: 2px solid #393834;
    border-radius: 10px;
    box-shadow: inset 400px 0 0 0 #393834;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn12-text-mobile{
    color :#ffffff;
    // border: 2px solid #393834;
    border-radius: 10px;
    box-shadow: inset 400px 0 0 0 #393834;
    padding: 10px 10px;
    display: inline-block;
    font-family: serif;
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn22-text{
    background-color: #c0c0c0;
    color :black;
    text-align: center;
    text-justify: inter-word;
    border: 2px solid #393834;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn22-text-mobile{
    background-color: #c0c0c0;
    color :black;
    text-align: center;
    text-justify: inter-word;
    border: 2px solid #393834;
    border-radius: 10px;
    padding: 5px 5px;
    display: inline-block;
    font-family: serif;
    font-size: 10px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn13-text{
    color :#ffffff;
    border: 2px solid #393834;
    border-radius: 10px;
    box-shadow: inset 400px 0 0 0 #393834;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  .btn23-text{
    background-color: #c0c0c0;
    color :black;
    text-align: justify;
    text-justify: inter-word;
    border: 2px solid #393834;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: serif;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  
  @keyframes transisi11 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 15% );
    }
  }
  @keyframes transisi21{
    0% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 40% );
    }
  }
  @keyframes transisi21-mobile{
    0% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 45% );
    }
  }
  @keyframes transisi13 {
    0% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 75% );
    }
  }
