.background-foto{
    // position: relative;
    object-fit: cover;
    width:100%;
    height: 500px;
    // height: 300px;
    // object-fit: none; /* Do not scale the image */
    object-position: center;
    z-index: 1;
}
.footage{
    width: 100%
}
.slide__prev,
.slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  .slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }
  
  .slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }

  .overlay-homepage{
    border-image: 1px;
    // background: url(../../../assets/sumur-bor.jpg);
    // position: absolute;
    // z-index: 2;
  }
.homepage-content{
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  z-index: 3;
}

.homepage-mobile{
  background-image: url('../../../assets/sumur-bor.jpg');
}