.kontak{
    align-items: initial;
    background-color: #444141;
    min-height: 200px;
    padding: 2%;
}
.servis-kami{
    display: flex;
    color: antiquewhite;
    text-align: center;
    align-items: center; 
    margin-bottom: 5px;
}

.servis-kami:hover{
    transform:scale(1.1) rotate(2deg);
}

.header-foot{
    color: white;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.servis-foto{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
.servis-text{
    align-items: center;
}

.provinsi ,.alamat-lengkap {
    color: white;
    text-align: justify;
    text-justify: inter-word;
}