<div class="kontak row" id ="kontak">
    <div class="col-4">
        <img src="../../../assets/logo.png" style="width: 150px ;" alt="">
    </div>
    <div class="col-4">
        Servis Kami 
        <a href="" >ayam</a> 
    </div>
    <div class="col-4 ">
        <div class ="sosmed">
            <mat-icon> location_on</mat-icon>
            <span>
            <a href="">parung panjang</a></span>
        </div>
        <div class ="sosmed">
            <mat-icon> phone</mat-icon>
            <span>
            <a href="">+628888888888</a></span>
        </div>
        <div class ="sosmed">
            <mat-icon> mail_outline</mat-icon>
            <span>
            <a href="">mail@gmail.com</a></span>
        </div>
        
    </div>
</div>
