

<div *ngIf ="isMobile">
    <div class="hubungi-banner"  >
        <div class="hubungi">
            hubungi
        </div>
        <div class="rafa-sumur-bor">
            RAFA SUMUR BOR SEGERA!
        </div>
        <div class="row">
            <div class="col-4" style="display:flex; justify-content: center;">
                <div class="banner">
                    <div class="banner-info-title">
                        Alat Lengkap
                    </div>
                    
                </div>
            </div>
            <div class="col-4" style="display:flex; justify-content: center;">
                <div class="banner">
                    <div class="banner-info-title">
                        Siap Melayani
                    </div>
                    Seluruh Jawa
                </div>
            </div>
            <div class="col-4" style="display:flex; justify-content: center;">
                <div class="banner">
                    <div class="banner-info-title">
                        Mutu Terjamin
                    </div>
                    Pasti Puas
                </div>
            </div>
        </div>
    </div>
    <div class="kontak row" id ="kontak">
        <div class="col-3" >
            <img src="../../../assets/logo-footer.png" style="width: 250px ;" alt="">
        </div>
        <div class="col-3">
            <div class="header-foot">
                Hubungi Kami
            </div>
            <div class="provinsi">
                JAWA BARAT
            </div>
            <div class="alamat-lengkap">
                Alamat kp.pabuaran RT 01/04 desa jagabita kec. Parungpanjang Bogor Jawa barat
            <br/>
            Nomor Telp/Whatsapp : 081282606922
            </div>
        </div>
        <div class="col-3">
            <div class="header-foot">
                Usaha Kami
            </div>
            <div class="servis-kami">
                <img src="../../../assets/bata-ringan.png" class="servis-foto" alt="">
                <div class="servis-text"> Bata Ringan</div>
            </div>
            <div class="servis-kami">
                <img src="../../../assets/tanah-merah.jpg"  class="servis-foto" alt="">
                <div class="servis-text"> Tanah Merah</div>
            </div>
            <div class="servis-kami">
                <img src="../../../assets/toko-bangunan.png"  class="servis-foto" alt="">
                <div class="servis-text"> Toko bangunan</div>
            </div>
        </div>
        <div class="col-3">
            <div class ="sosmed">
                <mat-icon> location_on</mat-icon>
                <span>
                <a href="">parung panjang</a></span>
            </div>
            <div class ="sosmed">
                <mat-icon> phone</mat-icon>
                <span>
                <a href="">+628888888888</a></span>
            </div>
            <div class ="sosmed">
                <mat-icon> mail_outline</mat-icon>
                <span>
                <a href="">mail@gmail.com</a></span>
            </div>
            
        </div>
    </div>




    <div class="kontak" id ="kontak">
        <img src="../../../assets/logo-footer.png" style="width: 100px ;" alt="">
        <div class="d-flex " style="justify-content: center; color: beige;">
            <div (click)="sosmed('phone')"  >    
                <mat-icon > phone</mat-icon>
            </div>
            <div (click)="sosmed('location')">
                <mat-icon> location_on</mat-icon>
            </div>
            <div (click)="sosmed('email')">
                <mat-icon> mail_outline</mat-icon>
            </div>
        </div>
    </div>
</div>

<div *ngIf ="!isMobile">
    <div class="hubungi-banner"  >
        <div class="hubungi">
            hubungi
        </div>
        <div class="rafa-sumur-bor">
            RAFA SUMUR BOR SEGERA!
        </div>
        <div class="row">
            <div class="col-4" style="display:flex; justify-content: center;">
                <div class="banner">
                    <div class="banner-info-title">
                        Alat Lengkap
                    </div>
                    
                </div>
            </div>
            <div class="col-4" style="display:flex; justify-content: center;">
                <div class="banner">
                    <div class="banner-info-title">
                        Siap Melayani
                    </div>
                    Seluruh Jawa
                </div>
            </div>
            <div class="col-4" style="display:flex; justify-content: center;">
                <div class="banner">
                    <div class="banner-info-title">
                        Mutu Terjamin
                    </div>
                    Pasti Puas
                </div>
            </div>
        </div>
    </div>
    <div class="kontak row" id ="kontak">
        <div class="col-3" >
            <img src="../../../assets/logo-footer.png" style="width: 250px ;" alt="">
        </div>
        <div class="col-3">
            <div class="header-foot">
                Hubungi Kami
            </div>
            <div class="provinsi">
                JAWA BARAT
            </div>
            <div class="alamat-lengkap">
                Alamat kp.pabuaran RT 01/04 desa jagabita kec. Parungpanjang Bogor Jawa barat
            <br/>
            Nomor Telp/Whatsapp : 081282606922
            </div>
        </div>
        <div class="col-3">
            <div class="header-foot">
                Usaha Kami
            </div>
            <div class="servis-kami">
                <img src="../../../assets/bata-ringan.png" class="servis-foto" alt="">
                <div class="servis-text"> Bata Ringan</div>
            </div>
            <div class="servis-kami">
                <img src="../../../assets/tanah-merah.jpg"  class="servis-foto" alt="">
                <div class="servis-text"> Tanah Merah</div>
            </div>
            <div class="servis-kami">
                <img src="../../../assets/toko-bangunan.png"  class="servis-foto" alt="">
                <div class="servis-text"> Toko bangunan</div>
            </div>
        </div>
        <div class="col-3">
            <div class ="sosmed">
                <mat-icon> location_on</mat-icon>
                <span>
                <a href="">parung panjang</a></span>
            </div>
            <div class ="sosmed">
                <mat-icon> phone</mat-icon>
                <span>
                <a href="">+628888888888</a></span>
            </div>
            <div class ="sosmed">
                <mat-icon> mail_outline</mat-icon>
                <span>
                <a href="">mail@gmail.com</a></span>
            </div>
            
        </div>
    </div>
</div>
