
<div *ngIf="!isMobile">
    <nav class="navbar navbar-dark">
        <img src="../../../assets/logo.png" class ="logo-brand" alt="">
        <div class="button_slide slide_right" > Hubungi Kami<a href ="#kontak"><span class="link"></span></a>  </div>
        
    </nav>

</div>
<div *ngIf="isMobile">
    <nav class="navbar navbar-dark">
        <img src="../../../assets/logo.png" class ="logo-mobile" alt="">
        <a class="btn button-contact-mobile" href="#kontak">Hubungi Kami</a>
    </nav>
</div>