
<div *ngIf="isMobile">
    <nav class="navbar navbar-dark">
        <img src="../../../assets/logo.png" class ="logo-mobile" alt="">
        <div class="button-slide-mobile slide_right button-contact-mobile" (click) ="kontaks()" >Hubungi Kami</div>
    </nav>
</div>

<div *ngIf="!isMobile">
    <nav class="navbar navbar-dark">
        <img src="../../../assets/logo.png" class ="logo-brand" alt="">
        <div class="button-slide slide_right"  (click) ="kontaks()"> Hubungi Kami  </div>
        
    </nav>

</div>