.navbar{
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-image: linear-gradient(#E0BE5F, #dbb54d);
    box-shadow: 0 8px 6px -6px black;
    padding-right: 10px;
}
.logo-brand{
    width: 100px;
    margin-left: 3%;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
}
.logo-brand:hover, .logo-mobile:hover{
    scale: 1.1;
    animation-delay: 1s;
    
} 

.logo-mobile{
    width: 75px;
    margin-left: 3%;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
}

.button-slide-mobile{
    padding: 10px 12px;
    font-size: 12px;
    border-radius: 5px;
}
.button-slide{
    padding: 18px 36px;
    font-size: 16px;
    border-radius: 10px;
}
.button-slide, .button-slide-mobile {
    color :#393834;
    border: 2px solid #393834;
    display: inline-block;
    font-family: serif;
    font-weight:bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #393834;
    -webkit-transition: ease-in 0.4s;
    -moz-transition: ease-in 0.4s;
    transition: ease-in 0.4s;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #393834;
    color: #FFF;
}

