<div *ngIf = "isMobile">

</div>
<div *ngIf = "!isMobile">
  <div class="row" style="margin-top: 2%;">
    <div class="col-4 keterangan">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
    <div class="col-8">
      <ngb-carousel
      *ngIf="images"
    >
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card " style="margin-bottom: 0px;">
                  <div class="container-our">
                    <img src="../../../assets/frame1.jpg" class="service-img" alt="...">
                    <div class="overlay">
                      <div class="text">Hello World</div>
                    </div>


                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card " style="margin-bottom: 0px;">
                  <img src="../../../assets/frame1.jpg" class="service-img" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card " style="margin-bottom: 0px;">
                  <img src="../../../assets/frame1.jpg" class="service-img" alt="...">
              </div>
            </div>
          </div>
        </div>  
      </ng-template>
    </ngb-carousel>
    
    <hr />
  </div>
</div>
